{% extends 'base.html.twig' %}
{% block body %}
    <div class="row">
        <form action="{{ path('vendeur_valide_connexion') }}" method="post" class="row g-3 needs-validation">
            <fieldset class="form-group">
                <div class="col-md-4">
                    <legend>Connection</legend>
                    <label class="form-label">Identifiant vendeur :
                        <input class="form-control" type="number" name="identifiant" size="18" value="" required>
                    </label>
                </div>
                <div class="col-md-4">
                    <label class="form-label">Mot de passe :
                        <input class="form-control" type="password" name="password" size="18" value="" >
                    </label>
                </div>
                {% if errors is defined %}
                    <small class="error">Si vous n'êtes pas un vendeur connectez vous avec la page client :
                        <a href="{{ path('client_connexion') }}">Connexion client</a></small><br>
                {% endif %}
                <input class="btn btn-primary" type="submit" name="valideForm" value="Valider">
            </fieldset>
        </form>

    </div>
{% endblock %}