{% extends "base.html.twig" %}
{% block body %}
    <div class="row">
        <h1>Création d'un client</h1>
        {{ form_start() }}

        {{ form(formulaire) }}

        <button class="btn btn" type="submit">
            {% if editClient %}
                Enregistrer les modifications
            {% else %}
                Crer mon compte
            {% endif %}
        </button>

        {{ form_end() }}
    </div>
{% endblock %}