{% extends "base.html.twig" %}
{% block body %}
    <h1>Supprimer votre compte Client</h1>
    <br>
    <p>Cliquez
        <a href="{{ path('client_suppression') }}" class="link-danger">ici</a>
        pour supprimer votre compte.
    </p>
{% endblock %}