<footer class="content-footer">
    <h1>footer</h1>
    <!-- lien connexion employe
        publication de voiture
        edition facture
        telecharger les factures



        logo business
        title
        site
        site site site
    -->
{{ dump(app.session) }}
</footer>