{% extends 'base.html.twig'%}
{% block body %}
    <div class="row">
        <div class="col-md-12">
            <h1>Factures</h1>
        </div>
        {% for facture in factures %}
           {{ dump(facture) }}
        {% endfor %}
    </div>
{% endblock %}